doctype html
html(lang="es")
	head
		title {{pageTitle}}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", type="text/css", href="vendors/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="assets/css/bootstrap-callouts.css")
		link(rel="stylesheet", type="text/css", href="vendors/angular-block-ui/dist/angular-block-ui.css")
		link(rel="stylesheet", type="text/css", href="assets/css/style.css")
		link(rel="stylesheet", type="text/css", href="vendors/angular-ui-notification/dist/angular-ui-notification.css")
	body(ng-controller="IndexController")
		section(ng-include="'views/main/menu.html'")
		ui-breadcrumbs(displayname-property="data.displayName" template-url="./vendors/angular-utils-ui-breadcrumbs/uiBreadcrumbs.tpl.html")
		section(ng-include="'views/main/header.html'")
		section.container
			#views-content(ng-view)
		section(ng-include="'views/main/footer.html'")
	script(src="vendors/requirejs/require.js", data-main="app/main")
