
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <h1>EarthQuake Framework - AngularJS</h1>
      <p class="lead">
        Esta es la estructura base para un proyecto en Angular.
        <br>
        En el encontraras la estructura de directorios para estructurar tu proyecto.
      </p>
      <button ng-click="goHome()" class="btn btn-primary">Ir al Home</button>
      <div
                vc-recaptcha
                theme="'light'"
                key="model.key"
                on-create="setWidgetId(widgetId)"
                on-success="setResponse(response)"
                on-expire="cbExpiration()"
            ></div>
    </div>
  </div>
</div>