
<div class="container">
  <div class="text-center">
    <h1>Estas en la vista home.html</h1>
  </div>
  <div class="text-left">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="form-group">
    <div class="text-center">
      <input type="text" ng-model="msg" id="msg" class="form-control"/>
      <h4>
        <label>{{msg}}</label>
      </h4>
      <button ng-click="goIndex()" class="btn btn-primary">Ir al Index</button>
    </div>
  </div>
  <!--Inicia el paginador-->
  <div class="form-group">
    <div class="text-center">
      <h2 class="text-center">Paginador</h2>
      <div class="form-group">
        <input type="text" ng-model="fruta" class="form-control"/>
      </div>
      <button ng-click="agregarFruta()" class="btn btn-success">Agregar</button>
      <button ng-click="eliminarFruta()" class="btn btn-danger">Eliminar</button>
    </div>
  </div>
  <div class="form-group">
    <div class="table-responsive">
      <table class="table table-hover table-condensed table-striped">
        <tr dir-paginate="item in listaFrutas | itemsPerPage: 10">
          <td>{{ item.nombre }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.nombre }}</td>
        </tr>
      </table>
      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
  <!--Inicia el modal-->
  <div class="form-group">
    <div class="text-center">
      <h2>Modal</h2>
      <button ng-click="toggleModal()" class="btn btn-primary">Mostrar modal</button>
    </div>
    <modal visible="showModal" title="Modal de prueba" id="modal">
      <div class="form-group">
        <alert type="info" show="true" dismissable="false" class="text-left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </alert>
      </div>
      <div class="form-group text-right">
        <button ng-click="toggleModal()" class="btn btn-danger">Close</button>
      </div>
    </modal>
  </div>
  <!--Inicia el panel-->
  <div class="form-group">
    <div class="text-center">
      <h2 class="text-center">Panel</h2>
    </div>
    <panel title="Titulo del panel" type="default" footer="Pie del panel">
      <alert type="info" show="true" dismissable="true">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </alert>
    </panel>
  </div>
  <!--Inicia el callout-->
  <div class="form-group">
    <div class="text-center">
      <h2 class="text-center">Callouts</h2>
    </div>
    <callout type="danger">
      <h3 class="text-danger">Callout</h3>
      <alert type="warning" show="true" dismissable="true">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </alert>
    </callout>
  </div>
  <!--Inicia el modal-->
  <div class="form-group">
    <div class="text-center">
      <h2>Notificaciones</h2>
      <button ng-click="showNotifications()" class="btn btn-primary">Mostrar Notificaciones</button>
    </div>
  </div>
</div>