.navbar.navbar-default.navbar-static-top
	.container
		.navbar-header
			button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
				span.icon-bar
				span.icon-bar
				span.icon-bar
		a.navbar-brand Menu
			.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a Home
				ul.nav.navbar-nav.navbar-right
					li
						a About